<!-- Shortcut: fextends, then press tab to change name-->
{% extends 'layout/base.html' %}

<!-- Shortcut: fblock, then press tab to change name-->
{% block body %}

<h1>This is flask</h1>
<p>Very basic sample page</p>

{% endblock %}

{% block css %}

<style>
 main {
   
    display: flex;
    width: 100%;
    height: 90vh;
    background-color: rgb(232, 241, 238);
    background-image: url('https://images.pexels.com/photos/1037992/pexels-photo-1037992.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    color: rgb(10, 10, 5);
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

 }

</style>

{% endblock %}
